body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.img-header-responsivo-frame{
	display: none;
}

.header-home{
	background: url('Assets/Abaete-Frame-Desktop-Home-Yellow.svg') no-repeat center center;
	background-size: 100% 100%; 
	height: 100vh;
}

.menu{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	z-index: 4;
	font-family: "azo-sans-web",sans-serif;
	position: fixed;
	top: 2.5em;
}

@media (max-width: 620px) {
	.menu{
		justify-content: center;
		align-items: center;
		display: flex;
		top: 2em;
	}

}

.menu-list{
	display: flex;
	position: fixed;
	list-style: none;
	margin: 0;
	padding: 0;
    font-size: 1.2em;
	color: black;
}

.menu-list-item {
	margin: 0 0.5em;
}

@media (max-width: 620px) {
	.menu-list-item{
		margin: 0.7em;
		font-size: 15px;
	}
}

.header-home {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

@media (max-width: 620px) {
	.header-home{
		background: url('Assets/Abaete-Frame-Mobile.svg') no-repeat center center;
		background-size: 100% 100%; 
		height: 100vh;
	}
}

.img-header-logo {
	margin-top: -2em;
	max-width: 60%;
}

@media (max-width: 620px) {
	.img-header-logo{
		max-width: 75%;
	}
}

.texto-header {
	margin: 0;
	justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 32%;
    font-weight: bolder;
    font-size: 1.5em;
    height: 76px;
    letter-spacing: 0.05em;
    font-family: "azo-sans-web",sans-serif;

 }

@media (max-width: 620px) {
	.texto-header{
    	width: 70%;
		font-size: 1.05em;
	}
}

.sobre-acao{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	background-color: rgb(255, 232, 0);
	min-height: 100vh;
}

@media (max-width: 620px){
	.sobre-descricao{
		width: 55%;
		margin-top: 20%;
	}
}

.sobre-descricao{
	width: 50%;
    font-size: 1.15em;
    line-height: 1.5em;
    font-family: "azo-sans-web",sans-serif;
}

@media (max-width: 620px){
	.sobre-descricao{
		width: 85%;
		margin: 0;
		font-size: 1em;
		padding: 2em 0;
	}
}

.acao{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-color:rgb(45, 114, 177);
	width: 100%;
	min-height: 100vh;
}

.acao-slide {
	width: 80%;
	min-height: 100vh;
}

@media (max-width: 620px) {
	.acao-slide{
		margin-top: 20%;
	}
}

.acao-titulo{
	font-family: "modesto-initials",serif;
	font-size: 18px;
	color: rgb(255, 255, 255);
	line-height: 28px;
	letter-spacing: 0em;
	width: 60%;
	margin: 3em auto 1em;
}

@media (max-width: 620px) {
	.acao-titulo{
		width: 80%;
	}
}

.acao-descricao{
	font-family: "azo-sans-web",sans-serif;
	font-size: 18px;
	color: rgb(255, 255, 255);
	line-height: 28px;
	letter-spacing: 0em,0.02em;
	width: 60%;
	margin: 0 auto 1em;
}

@media (max-width: 620px) {
	.acao-descricao{
		width: 80%;
	}
}

.acao-img{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 65%;
	margin: 0 auto 2em;
}

@media (max-width: 620px) {
	.acao-img{
		width: 80%;
	}
}

.Abaete_Seta_direita, .Abaete_Seta_esquerda {
	position: absolute;
	cursor: pointer;
	display: block;
	border: none;
}


.footer-fim{
	background: url('Assets/Abaete-Frame-Desktop-Contato.svg') no-repeat center center;
	background-size: 100% 100%; 
	height: 100vh;	
}


@media (max-width: 620px) {
	.footer-fim{
		background-size: 0;
	}
}

.contato{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;	
}

.contato-informacao{
	display: flex;
	flex-direction: column;
	font-size: 1.75em;
	color: rgb(45, 114, 177);
	line-height: 1.8em;
	letter-spacing: 0.05em;
	font-family: "azo-sans-uber",sans-serif;
}

@media (max-width: 620px) {
	.contato-informacao{
		font-size: 1.05em;
		width: 90%;
	}
}

.icone{
	width:  100%;
	padding: 0;
	margin: 0;
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: center;
}

.icone li img {
	width: 4em;
	margin: 1em;
}

@media (max-width: 620px) {
	.icone{
		padding: 0;
	}
}