body{
	margin: 0%;
	padding:0%;
}


.img-header-responsivo-frame{
	display: none;

}


ul li{
	padding: 10% 10%;

}
nav ul li{
	transform: scale(1.5);

}
header{
	margin: 0%;
	padding: 0%;
	height: 100%;
}


.menu{
	display: flex;
	align-items: center;
	justify-content: center;
	color:black;
	list-style: none;
	font-weight: bold;
	margin-top: 4%;
}


.menu-list-item{
	display: inline;
	align-items: center;
	justify-content: center;
	
	

}