body{
	padding: 0;
	margin: 0;
}
.img-header-responsivo-frame{
	display: none;
}
.header-home{
	height: 100%;

}



.menu{

display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
color:black;
list-style: none;
z-index: 4%;
font-weight: bold;
margin-top: 8%;
position: absolute;
left: 50%;
}

.menu-list{
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	margin: 0;
	padding: 0;
	
}
.menu-list-item{
	list-style: none;
	margin: 0.5em;
	display: flex;



}

ul li{
	padding: 10% 10%;

}
nav ul li{
	transform: scale(1.5);

}
header{
	margin: 0%;
}

.img-header-frame{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;	
	width: 85%;
	left: 8%;

 	
}

.img-header-logo{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: absolute;
	top: 12%;
	left: 18%;
	height: 65%;
	margin-bottom: 6%;

}

.txt-home{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: absolute;
	top: 67%;
	left: 34%;
	width: 30%;
	font-weight: bolder;

}





@media screen and (max-width: 320px) {
	body{
	padding: 0;
	margin: 0;
	}
	header{
		width:100%;
		height: 100%;
	}

.menu{
		margin: 1%;

	}
.frame{
	display: none;

	}

	.responsivo-frame{
			display: block;
    		width: 100%;
    		justify-content: center;
    		align-items: center;
    		position: relative;
   			 top: 50px;
		}

	.home{
			height: 27%;
    		display: flex;
    		justify-content: center;
    		align-items: center;
    		flex-wrap: wrap;
    		position: absolute;
    		top: 27%;
    		left: 6%;		}
   
	

	.txt1{
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 45%;
			left: 23%;
			font-weight: bolder;
			font-size: 19px;
			color: rgb(0, 0, 0);
			font-style: normal;
			text-align: left;
			line-height: 32px;
			letter-spacing: 0.02em;
		}


	.sobre{
			display: flex;
			align-items: center;
			font-size: 16px;
			color: rgb(0, 0, 0);
			font-style: normal;
			text-align: left;
			line-height: 28px;
			letter-spacing: 0em;	
		}


	.sobre-acao1-txtsobre{
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			flex-wrap: wrap;
			flex-direction: column;
			top: 11%;
			left: 2%;
			font-size: 20px;
			font-style: normal;
			text-align: left;
			line-height: 28px;
			letter-spacing: 0em;
			width: 9;   

	}
	main{
		padding-top:10%;
}



.responsivo-frame{
	display: block;
	margin: 0%;
    width: 112%;
    height: 75%;
    position: relative;
    top: 50px;
    left: -5%;
	}

.home{
	height: 75%;
 	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
	top: 25%;
    left: 8%;
    width: 85%;
    height: 30%;

	}

.txt-home{
	justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    flex-direction: column;
    top: 55%;
    left: 10%;
    width: 75%;
    height: 30%;
    left: 17%;
    height: %;
    font-weight: bolder;
    font-size: 15px;
    font-style: normal;
    text-align: left;
    height: 76px;
    letter-spacing: 0.2em;
    line-height: 32px;

	}


   
}


.sobre-acao1{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: yellow;
	height: 675px;
	width: 100%;
	/*padding-top:  33%*/;
}

.sobre-acao1-txtsobre{
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 42%;
	left:0%;
	top:0px;
	font-size: 115%;
	font-size: 20px;
	font-style: normal;
	text-align: left;
	line-height: 20px;

}

.sobre-acao2{
	background-color: #0000DD;
	width: 100%;
	height: 100%;
	position: absolute;
}


.prgf{
	justify-content: center;
	position: relative;
	top: 250px;
	left: 13%;
	font-size: 30px;
	font-style: normal;
	text-align: left;
	line-height: 35px;
}

.mySlides{
	width: 55%;
	height: 63%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0%;
	position: relative;
	top: 22%;
	left: 22%;
}
.mySlides {display:none}
.Abaete_Seta_direita, .Abaete_Seta_esquerda {
	position: absolute;
	top: 50%;
	cursor: pointer;
	display: block;
	border: none;
	/*margin: 10px;*/
}
.Abaete_Seta_esquerda {
	left: 2.5%;
	width: 30px;
	height: 30px;
	background: red;
}
.Abaete_Seta_direita {
	right: 2.5%;
	width: 30px;
	height: 30px;
	background: red;
}
.w3-left{
	position: relative;
	left:-600px;

}
/*.w3-badge {height:20px;width:20px;padding:0}

}
*/

footer div{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	/*flex-direction: column;*/
	flex-wrap: wrap;
}

.framefooter{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 700px;
	left: 15%;
	width: 75%;
	height:600px;
	margin-top: 4%;
}


.icone{
	position: relative;
	display: inline;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 125%;
	height: 125%;
	position: relative;
	top: 350px;
	left: -150%;
}

}







/*

@media screen and (min-width: 320) and (max-width: 1044px) and (orientation: portrait){
#home{width: 100%}
#nav{width: 100%}
#section{width:100%}
#footer{width: 100%}
}

@media screen and (min-width: 320) and (max-width: 1044px) and (orientation: landscape){
#home{width: 100%}
#nav{width: 100%}
#section{width:100%}
#footer{width: 100%}
}

@media screen and (min-width: 320) and (max-width: 1044px) and (orientation: portrait){
#home{width: 100%}
#nav{width: 100%}
#section{width:100%}
#footer{width: 100%}
}

@media screen and (min-width: 320) and (max-width: 1044px) and (orientation: portrait){
#home{width: 100%}
#nav{width: 100%}
#section{width:100%}
#footer{width: 100%}
}

@media screen and (max-width: 1044px){

}*/