body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.img-header-responsivo-frame{
	display: none;
}

.header-home{
	background: url('Assets/Abaete-Frame-Desktop-Home-Yellow.svg') no-repeat center center;
	background-size: 100% 100%; 
	height: 100vh;
}

@media (max-width: 620px) {
	.header-home{
		background: url('Assets/Abaete-Frame-Mobile.svg') no-repeat center center;
	}
}

.menu{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	z-index: 4;
	position: absolute;
	top: 8%;
	left: 50%;
}

.menu-list{
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu-list-item{
	margin: 0.5em;
	display: flex;
}

.header-home {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.img-header-logo {
	margin-top: -2em;
	max-width: 55%;
}

.texto-header {
	margin: 0;
	justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 45%;
}

.texto-header{
    font-weight: bolder;
    font-size: 25px;
    font-style: normal;
    text-align: left;
    height: 76px;
    letter-spacing: 0.2em;
 }

.sobre-acao{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	background-color: rgb(255, 232, 0);
	width: 100%;
	min-height: 100vh;
}

.sobre-descricao{
	width: 52%;
	font-size: 20px;
	font-style: normal;
	text-align: left;
	line-height: 32px;

}

.acao{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	background-color:rgb(45, 114, 177);
	width: 100%;
	min-height: 100vh;
}

.acao-titulo{
	font-Family: AzoSans-Regular,ModestoInitials-Fill;
	font-Size: 18px, 20px;
	color: rgb(255, 255, 255);
	font-Style: normal;
	text-align: left;
	line-height: 28px;
	letter-spacing: 0em,0.02em;

}

.acao-descricao{
	font-Family: AzoSans-Regular,ModestoInitials-Fill;
	font-Size: 18px, 20px;
	color: rgb(255, 255, 255);
	font-Style: normal;
	text-align: left;
	line-height: 28px;
	letter-spacing: 0em,0.02em;
}

.acao-imgs{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 50%;
	
}

.prgf{
	justify-content: center;
	position: relative;
	top: 250px;
	left: 13%;
	font-size: 30px;
	font-style: normal;
	text-align: left;
	line-height: 35px;
}


.acao-img{display:none}
.Abaete_Seta_direita, .Abaete_Seta_esquerda {
	position: absolute;
	top: 50%;
	cursor: pointer;
	display: block;
	border: none;
	/*margin: 10px;*/
}
.Abaete_Seta_esquerda {
	left: 2.5%;
	width: 30px;
	height: 30px;
	background: red;
}
.Abaete_Seta_direita {
	right: 2.5%;
	width: 30px;
	height: 30px;
	background: red;
}
.w3-left{
	position: relative;
	left:-600px;

}
/*.w3-badge {height:20px;width:20px;padding:0}

}
*/

footer div{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	/*flex-direction: column;*/
	flex-wrap: wrap;
}

.framefooter{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 700px;
	left: 15%;
	width: 75%;
	height:600px;
	margin-top: 4%;
}


.icone{
	position: relative;
	display: inline;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 125%;
	height: 125%;
	position: relative;
	top: 350px;
	left: -150%;
}
